body{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}

.corpo {
    margin: 20px;
    width: 600px;
    height: 800px;
    border-radius: 15px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.container a {
    text-decoration: none;

}
.imagem {
    padding: 20px;
    width: 100px;
    
    img{
        max-width: 120px;
        border-radius: 100px;
    }
}
.container2 img {
    width: 1.1em;
    border-radius: 100px;
}

.container2 {
    margin: 50px 10px 0px 0px;
    background-color: rgb(231, 230, 230);
    width: 300px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
        margin: 10px;
    }
}

a {
    display: flex;
    
}

@media (max-width:1280px) {
    
}